.register {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    &_wrapper{
        width: 70%;
        height: 70%;
        display: flex;
        &__left, &__right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__left {
            h3 {
                font-size: 50px;
                font-weight:  800;
                color: #1775ee;
                margin-bottom: 10px
            }
            .description {
                font-size: 24px;
            }
        }
        &__right {
            .box {
                height: 400px;
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .register-input {
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid lightgrey;
                    font-size: 18px;
                    padding-left: 20px;
                    &:focus{
                        outline: none;
                    }
                }
                .register-button, .register-login-button {
                    height: 50px;
                    border-radius: 10px;
                    background-color: #1775ee;
                    border: none;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                }
                .register-forgot {
                    text-align: center;
                    color: #1775ee;
                }
                .register-register-button {
                    width: 60%;
                    align-self: center;
                    background-color: #42b72a;
                }
            }
        }
    }
}